@import url("https://fonts.googleapis.com/css?family=Knewave");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,600");
.Filter {
  background: #1F2421;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #B7DCB5; }

.Filter > * {
  margin: 10px; }
