@import './../sass-vars.scss';

.Filter {
  background: $darkColor;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $brightColor;
}
.Filter>*{
  margin: 10px;
}